*{
    margin: 0;
    padding: 0;

}

nav{
    padding: 15px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    /* border: 2px solid red; */
}
.nav-con{
    width: 650px;
    display: flex;
    gap: 100px;
    position: relative;
    right:20px;
    /* border: 2px solid black; */
}
#logo{
    position: absolute;
    /* border: 2px solid red; */
    height: 37px;
    left: 161px;
    align-self: center;
}

#title{
    position: absolute;
    left: 200px;
}
#connect-button{
    position: absolute;
    right: 100px;
    /* border: 2px solid red; */
    padding: 10px;
    background-color: purple;
    border-radius: 15px;
    align-self: center;
}
#container-1{
    color: white;
    /* border: 2px solid red; */
    background:linear-gradient(to bottom right, #3b025c 0%, #fa71cd 100%);
    height: 565px
}
.text-box{
    border: 2px solid red;
    position: absolute;
    width: 800px;
    height: 300px;
    left: 150px;
    top: 150px;
    font-size: 70px;
    
}
.font-big{
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
  font-stretch:extra-expanded;
   
}